

h1{

    border-bottom-style: solid;
    border-bottom-color: darkcyan;
    color: black;
    background-color: dimgray;
}
body{
    height: 1296px;
    
    margin: 12%;
    margin-top: 1%;
    border: solid;
    border-width: 5px;
    border-color: darkslateblue;

padding: 5px;
   
  
}
.zeeshan
{ 
    background-color: blanchedalmond;
}

table{
    border-color: darkcyan;
}

